*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #919aa7;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article article img {
    /* height: 180px;*/
    width: 100%;
}

.article article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.article article {
    margin-bottom: 16px;
}

.article article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.article article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.article article a:hover {
    text-decoration: underline;
}

.article article p
.article article a {
    font-family: Arial, Helvetica, sans-serif;
}

.article article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .article article a {
    background-color: rgba(0, 255, 0, 0.8);
    color: #000
}

#tec {
    background-color: rgba(103, 132, 94, 01);
}

#tec .article article a {
    background-color: rgba(103, 132, 94, 01);
}

#entreteniment {
    background-color: rgba(136, 48, 136, 1);
}

#entreteniment .article article a {
    background-color: rgba(136, 48, 136, 1);
}

#economy {
    background-color: #ece997;
}

#economy .article article a {
    background-color: #ff9f1a;
}

#tec .article article a {
    background-color: #CABC74;
    color: #000
}

#entreteniment .article article a {
    background-color: #D2D383;
    color: #000
}